<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>

<span style="padding-left: 50px;">Login</span>
	<form name="login" action="/socialNetwork/users/login" method="POST">
		<table style="height: 5px;" width="264">
			<tbody>
				<tr>
					<td style="width: 131.2px;">User Id</td>
					<td style="width: 132px;"><input type="text" id="userId" name="userId"/></td>
				</tr>
				
			</tbody>
		</table>
		<input type="submit" value="submit"/>
	</form>
</body>
</html>